@font-face {
    font-family: nav-font;
    src: url("../../fonts/bpgmrgvlovani.woff");
}

.cart-container * {
    font-family: nav-font !important;
    
}


.cart-container-total-price {
   padding-bottom: 1rem;
}

.cart-container-total-price  span {
    color: rgb(29, 171, 29);
}