@font-face {
    font-family: modal-font;
    src: url("../../fonts/bpgmrgvlovani.woff");
  }
  
  .icon-container {
    display: flex;
    justify-content: center;
  }

  .user-info-modal .guest-title {
    font-family: modal-font !important;
    color: #fff;
    text-align: center;
    margin-top: 2rem;
    font-size: 1.7rem;
    line-height: 2.6rem;
  }
  
  .close-container {
    position: absolute;
    padding: 0.1rem;
    right: -1px;
    top: 0px;
    background: #DC143C;
    cursor: pointer;
    border-radius: 2px;
    transition: 0.3s ease;
  }


  .close-container:hover {
    
    background: #940d28;

  }
  
  .list-group {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }
  
  .list-group-item {
    display: flex;
    padding: 0.75rem 1.25rem;
    border-bottom: 1px solid #dee2e6;
    font-family: modal-font;
    color: #05052c;
    font-size: 0.9rem;
  }
  
  .list-group-item:last-child {
    border-bottom: none;
  }
  
  .username {
    font-weight: 600;
  }
  
  .user-name {
    margin-left: 5px;
  }
  
  .label {
    font-weight: 600;
  }
  
  .date {
    margin-left: 5px;
  }
  