@font-face {
  font-family: nav-font;
  src: url("../../fonts/bpgmrgvlovani.woff");
}

.smartphones-page-title {
  font-family: nav-font;
  color: orange !important;
}

.basic-card-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 320px);
  row-gap: 2rem;
  column-gap: 2rem;
  justify-content: center;
}



#basic-card-img:hover {
  transform: scale(1.07);
  cursor: pointer;
  transition: 0.25s ease-in;
}

#basic-card {
  width: 320px !important;
  padding-bottom: 18px !important;
  padding-top: 11px !important;
  box-shadow: 0px 0px 5px rgb(213, 198, 198);
  cursor: pointer;
}
#basic-card:hover {
  box-shadow: 0px 0px 20px rgb(219, 208, 208);
  transition: 0.5s ease;
}

#basic-card * {
  font-family: nav-font;
  letter-spacing: 1px;
}

#basic-card button {
  width: 120px !important;
  height: 2.2rem !important;
}

#basic-card .left-btn {
  border-radius: 100px;
  background-color: #212529;
}

#basic-card .left-btn:hover {
  background-color: #139844;
  transition: 0.3s ease;
}

#basic-card .right-btn {
  border-radius: 100px;
  background-color: #5039fc;
}
#basic-card .right-btn:hover {
  background-color: #fb3030;
  transition: 0.3s ease;
}

#basic-card button * {
  font-size: 0.6rem !important;
  line-height: 14.5px;
}





@media(max-width: 1401px ) {

  .basic-card-container {
    grid-template-columns: repeat(3, 320px);
    column-gap: 5.5rem;
    justify-content: center;
  }
  
}


@media(max-width: 1167px ) {

  .basic-card-container {
    grid-template-columns: repeat(3, 320px);
    column-gap: 2.5rem;
    justify-content: center;
  }
  
}

@media(max-width: 1068px ) {

  .basic-card-container {
    grid-template-columns: repeat(2, 320px);
    column-gap: 6.5rem;
    justify-content: center;
  }
  
}

@media(max-width: 774px ) {

  .basic-card-container {
    grid-template-columns: repeat(2, 320px);
    column-gap: 2.5rem;
    justify-content: center;
  }
  
}

@media(max-width: 702px ) {

  .basic-card-container {
    grid-template-columns: repeat(1, 320px);
    column-gap: 0rem;
    justify-content: center;
    place-items: center;
  }

  
}

@media(max-width: 414px ) {


  #basic-card {
   max-width: 300px !important;
  }
}



















