@font-face {
  font-family: nav-font;
  src: url("../../fonts/bpgmrgvlovani.woff");
}

.navbar {
  background-color: #1d202b !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  position: fixed !important;
  width: 100% !important;
  z-index: 100 !important;
}

@media (min-width: 1500px) {
  .navbar {
    padding-left: 6rem !important;
    padding-right: 6rem !important;
  }
}

@media (min-width: 1600px) {
  .navbar {
    padding-left: 10rem !important;
    padding-right: 10rem !important;
  }
}

@media (min-width: 1700px) {
  .navbar {
    padding-left: 12rem !important;
    padding-right: 12rem !important;
  }
}
@media (min-width: 1800px) {
  .navbar {
    padding-left: 14rem !important;
    padding-right: 14rem !important;
  }
}

@media (min-width: 1900px) {
  .navbar {
    padding-left: 16rem !important;
    padding-right: 16rem !important;
  }
}

@media (min-width: 2000px) {
  .navbar {
    padding-left: 18rem !important;
    padding-right: 18rem !important;
  }
}

@media (min-width: 2200px) {
  .navbar {
    padding-left: 22rem !important;
    padding-right: 22rem !important;
  }
}

@media (min-width: 2300px) {
  .navbar {
    padding-left: 26rem !important;
    padding-right: 26rem !important;
  }
}
@media (min-width: 2300px) {
  .navbar {
    padding-left: 28rem !important;
    padding-right: 28rem !important;
  }
}

.navbar-brand {
  color: #ffffff !important;
  font-weight: 700 !important;
  font-family: nav-font !important;
  letter-spacing: 0.6px !important;
  font-size: 1.1rem !important;
}

li .nav-link {
  color: #ffffff !important;
  font-size: 0.72rem !important;
  font-family: nav-font !important;
  letter-spacing: 0.8px !important;
}

.navbar li .nav-link.active {
  border-bottom: 1px solid seashell;
}

#cart {
  cursor: pointer;
}

#cart-container {
  position: relative !important;
}


@media (max-width: 768px) {
  .container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
