.accessories-container {
  display: grid;
  grid-template-columns: repeat(3, 395px);
  column-gap: 2rem;
  row-gap: 1.5rem;
}


@media (max-width: 1291px) {
  .accessories-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 480px);
    column-gap: 2rem;
    row-gap: 1.5rem;
  }

  .accessories-card {
    max-width: 480px !important;
  }
}

@media (max-width: 1020px) {
  .accessories-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 400px);
    column-gap: 2rem;
    row-gap: 1.5rem;
  }

  .accessories-card {
    max-width: 400px !important;
  }
}

@media (max-width: 860px) {
  .accessories-container {
    grid-template-columns: repeat(1, 500px);
  }

  .accessories-card {
    max-width: 500px !important;
  }
}

@media (max-width: 521px) {
  .accessories-container {
    grid-template-columns: repeat(1, 395px);
  }

  .accessories-card {
    max-width: 395px !important;
    /* margin: 0 auto; */
  }
}

@media (max-width: 412px) {
  .accessories-container {
    grid-template-columns: repeat(1, 310px);
  }

  .accessories-card {
    max-width: 310px !important;
  }
  .accessories-card {
    display: flex;
   flex-direction: column;
   height: 300px !important;
   width: 100%;
   padding-bottom: 1rem !important;
  }
  .accessories-card-img-container {
    width: 130px;
    height: 130px;
    margin: 0 auto;
    margin-bottom: 0.7rem;
  }
  .accessories-card-img {
    object-fit: contain;
  }
}

.accessories-card {
  box-shadow: 0px 0px 5px rgb(196, 183, 183);
  max-width: 395px;
  height: 9rem;
  padding: 0.4rem;
  display: flex;
  border-radius: 5px;
  background-color: #FFFFFF;
}

.accessories-card-img-container {
  width: 130px;
  height: 100%;
}

.accessories-card-img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.accessories-card-descr-container {
  flex: 1;
  padding-inline-start: 1rem;
}
