* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #fcfcf9;
  overflow-x: hidden !important;
}

.app {
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden !important;
}

#main {
  flex: 1;
  padding: 1.4rem 1.65rem;
  padding-top: 6.5rem;
}

a {
  text-decoration: none !important;
}

