* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fcf8f4;
}

.app {
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#main {
  flex: 1;
  padding: 1.4rem 1.65rem;
}

a {
  text-decoration: none !important;
}

