@font-face {
  font-family: bank-font;
  src: url(".././../fonts/bpgmrgvlovani.woff");
}

.banks-container * {
  font-family: bank-font;
  font-size: 0.83rem;
}

.banks-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-block: 13px;
  box-shadow: 0px 0px 15px rgb(212, 205, 205);
  padding-inline: 0.6rem;
  background-color: #fafafa;
  border-radius: 6px;
  transition: 0.3s ease;
  cursor: pointer;
  max-width: 1410px;
  width: 100%;
  margin: 0 auto 40px;
}

.banks-container:hover {
  box-shadow: 0px 0px 15px rgb(192, 188, 188);
}

.banks-container img {
  width: 120px;
  height: 100%;
  object-fit: contain;
}

.first-cont,
.second-cont,
.third-cont {
  display: flex;
  align-items: flex-end;
  gap: 0.6rem;
}

@media (max-width: 929px) {
  .banks-container {
    flex-direction: column;
  }
  .third-cont span {
    bottom: 10px;
    position: relative;
  }
  .first-cont,
  .second-cont,
  .third-cont {
    gap: 1rem;
  }
}

@media (max-width: 1225px) {
  .third-cont img {
    margin-bottom: 10px;
  }
}

@media (max-width: 967px) {
  .third-cont img {
    margin-bottom: 20px;
  }
}

#banks-modal {
  font-family: bank-font;
}

#banks-modal h3 {
  font-size: 1.5rem;
  margin-top: 2rem;
  color: #fff;
  line-height: 2.55rem;
}
